$dark-blue: #032942;

$white:#fff;
$dark-bg:#1C1F4E;

$light-grey:#F7F8F9;
$dark-grey:#EDF0F2;

$light-blue:#99E2FF;

$border-color: $dark-grey;
$text-color: $dark-blue;

$radius: 1rem;

$font-size: 1.125rem;
$font-family: Arial, Helvetica, sans-serif;
$line-height: 1.625rem;
$bold: 700;