$dark-blue: #032942;
$dark-purple-blue:#1C1F4E;

$white:#fff;
$dark-bg:$dark-purple-blue;

$light-grey:#F7F8F9;
$dark-grey:#EDF0F2;

$light-blue:#99E2FF;

$border-color: $dark-grey;
$text-blue: $dark-blue;

$radius: 1rem;

$font-size: 1.125rem;
$font-family: Helvetica, Arial, sans-serif;
$line-height: 1.625rem;
$bold: 700;